* {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  padding: 50px;
}

input {
  color: gray;
  font-size: 20px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin: 0px 10px 10px 0px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  width: 50%;
}